/*RESET*/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/*COMMON*/

html{
    font-family: Arial, Helvetica, sans-serif;
}


.font{
    font-size: 0.8em;
    color: white;
}

.icon-text{
    text-align: center;
}

/*HEADER*/

header{
    height: 50px;
    overflow: hidden;
    background-color: black;
}

.header-tags{
    display: flex;
    justify-content: right;
}

.tag{
    padding: 0.3rem 0.2rem;
    border: 1px solid;
    border-radius: 8%;
    border-style: none;
    background-color: #4a4a4a;
    margin-left: 1rem;
    margin-top: .5em;
    margin-right: .5em;
}

/*BODY*/

main{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content:center;
    flex-grow: initial;
    align-content: flex-start;
    height: calc(100%vh - 130px);
    background-color: black;
    overflow-y: auto;
    
}

.photo{
    position: relative;
    width: 200px;
    margin: 0.5rem;
    height: 150px;
    flex-shrink: 0;
    background-color: brown;
    border: 1px solid black;
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user{
    position: absolute;
    padding: 0.3rem 0.2rem;
    bottom: 0;
    left: 0;
    border: 1px solid;
    border-radius: 8%;
    border-style: none;
    background-color: rgb(0, 0, 0, 0.4);
   
}

/*FOOTER*/

.tab{
    padding-right: 1em;
}

.chevron{
    font-size: 0.6em;
    padding-right: 0.5em;
}

.tab i{
    font-size: 1.8em;
}

.tab p{
    font-size: 0.7em;
   
}

footer{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    margin: auto;
    color: white;
    background-color: #222222;
}


.left-footer{
    align-items: center;
    width: 10%;
    display: flex;
    justify-content: flex-start;
    
    
}

.center-footer{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    
}

.right-footer{
    display: flex;
    width: 10%;
    align-self: stretch;
    justify-content: flex-end;
    align-items: center;
    background-color: #4a4a4a;
}

.text-right{
    font-size: 0.8em;
    color: red;
    padding-right: 2.5em;
}

#color-green{
    color: #4bc800;
}